.navbar-section{
    background: rgba(255, 255, 255,0.95);
    padding: 0px 200px;
    justify-content: space-between;
    font-family: 'Space Mono', monospace;
    position: fixed;
    z-index: 10;
    width: 100%;
    
}
.brand{
    font-size: 28px;
    font-weight: bold;
}
.mr-auto{
    margin-right: 0 !important;
}
.navbar-collapse{
    justify-content: flex-end;
    align-items: flex-end;
}
.nav-item{
    margin: 0px 10px;
    color: #515558 !important;
}
/* //Brand Color Section// */
.red{
    color: #34a853;
}
.yellow{
    color:#34a853;
}
.green{
    color: #34a853;
}
.blue{
    color: #4285f4;
}

.scrolled{
    box-shadow: 0px 0px 2px rgb(114, 113, 113);
    background-color: rgba(209, 220, 255, 0.98);
    transition: ease 1s;
    font-size:  17px;
}
.scrolled-out{
    transition: ease 0.5s;
}



@media (max-width: 1178px) {
    .navbar-section{
        padding: 0px 100px;
    }
  }

  @media (max-width: 965px) {
    .navbar-section{
        padding: 0px 30px;
    }
    .navbar-collapse{
        padding-bottom:20px;
        text-align: center;
    }
    .nav-item{
        margin : 4.5px 0;
    }
  }