.navbar-section{
    background: rgba(255, 255, 255,0.95);
    padding: 0px 220px;
    justify-content: space-between;
    font-family: 'Space Mono', monospace;
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: 0px 0px 1.5px rgb(114, 113, 113);
}
.brand{
    font-size: 28px;
    font-weight: bold;
}
.mr-auto{
    margin-right: 0 !important;
    padding-left: 33%;
}
.navbar-collapse{
    justify-content: center;
}
.nav-item{
    margin: 0px 10px;
    color: #515558 !important;
}
/* //Brand Color Section// */
.red{
    color: #34a853;
}
.yellow{
    color:#34a853;
}
.green{
    color: #34a853;
}
.blue{
    color: #4285f4;
}
