.project-section{
    padding: 50px 220px;
}
.project-section h2{
    font-family: 'Mirza', cursive;
    font-weight: 600;
    color: #393d41;
    font-size: 50px;
}
.project-list{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project-section .button-div{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Space Mono', monospace;
}
.project-section .skill-image{
    overflow: hidden;
}
.project-section .skill-image .skill-img{
    height:200px;
}
.project-section .project-card{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.project-card .card-text{
    height: 130px;
    text-align: justify;
    text-align-last: center;
}